.navbar .navbar-brand,
.navbar .nav-link,
.navbar .nav-link.active,
.navbar .nav-link:focus,
.navbar .nav-link:hover {
  color: #3B2F2F;
}

.card.h-100 {
        box-shadow: 0 4px 16px rgba(0,0,0,0.12), 0 1.5px 4px rgba(0,0,0,0.10);
      }
        .navbar-custom {
            color: #3B2F2F;
        }

        .navbar-custom .nav-link {
            color: #3B2F2F;
        }

        .navbar-custom .nav-link.active {
            font-weight: bold;
        }

        .hero-section {
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/images/hero.png') no-repeat center center;
            background-size: cover;
            color: #FFEBD4;
            padding: 100px 0;
        }

        .hero-section h1 {
            font-family: 'Handlee', cursive;
        }

        .btn {
            color: #3B2F2F;
        }